@model OfficeRoomie.Models.ViewModels.ClienteReserva;

@{
    Layout = "/Views/Shared/_HomeLayout.cshtml";
    ViewData["Title"] = "Cliente Reserva";
}

<section>
    <div class="container">
        <div class="my-5">
            <h1>Reserve esta sala</h1>

            <hr />

            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.sala.nome)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.sala.nome)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.sala.descricao)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.sala.descricao)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.sala.capacidade)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.sala.capacidade)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.sala.categoria)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.sala.categoria)
                </dd>
            </dl>

            <hr />

            <form asp-action="ClienteReserva" class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group col-12 col-md-6">
                <label asp-for="cliente.nome" class="control-label"></label>
                <input asp-for="cliente.nome" class="form-control" />
                <span asp-validation-for="cliente.nome" class="text-danger"></span>
            </div>

            <div class="form-group col-12 col-md-6">
                <label asp-for="cliente.email" class="control-label"></label>
                <input asp-for="cliente.email" class="form-control" />
                <span asp-validation-for="cliente.email" class="text-danger"></span>
            </div>

            <div class="form-group col-12 col-md-4">
                <label asp-for="reserva.data_reserva" class="control-label"></label>
                <input type="date" asp-for="reserva.data_reserva" class="form-control" />
                <span asp-validation-for="reserva.data_reserva" class="text-danger"></span>
            </div>

            <div class="form-group col-12 col-md-4">
                <label asp-for="reserva.hora_inicio" class="control-label"></label>
                <input type="time" asp-for="reserva.hora_inicio" class="form-control" />
                <span asp-validation-for="reserva.hora_inicio" class="text-danger"></span>
            </div>

            <div class="form-group col-12 col-md-4">
                <label asp-for="reserva.hora_fim" class="control-label"></label>
                <input type="time" asp-for="reserva.hora_fim" class="form-control" />
                <span asp-validation-for="reserva.hora_fim" class="text-danger"></span>
            </div>

            <div class="form-group col-12">
                <div class="d-flex justify-content-end gap-2">
                    <a class="btn btn-link" asp-action="Index">Voltar home</a>
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </div>
            </div>
           
        </form>
        </div>
    </div>
</section>

@Html.ValidationSummary(true, "", new { @class = "text-danger" })